# Database (used by docker-compose and Prisma)
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Auth
JWT_SECRET=
JWT_REFRESH_SECRET=

# Storage
CLOUDINARY_URL=

# App
APP_URL=
API_URL=
NODE_ENV=
PORT=
